lesson3/Client/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Contract" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IContract_UpdateData_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <oletx:OleTxAssertion wsp:Optional="true" wsp1:Optional="true" xmlns:oletx="http://schemas.microsoft.com/ws/2006/02/tx/oletx" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2002/12/policy">
        </oletx:OleTxAssertion>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IContract_UpdateFirstDb_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <oletx:OleTxAssertion wsp:Optional="true" wsp1:Optional="true" xmlns:oletx="http://schemas.microsoft.com/ws/2006/02/tx/oletx" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2002/12/policy">
        </oletx:OleTxAssertion>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IContract_UpdateSecondDb_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <oletx:OleTxAssertion wsp:Optional="true" wsp1:Optional="true" xmlns:oletx="http://schemas.microsoft.com/ws/2006/02/tx/oletx" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2002/12/policy">
        </oletx:OleTxAssertion>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContract_UpdateData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateData" />
  </wsdl:message>
  <wsdl:message name="IContract_UpdateData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataResponse" />
  </wsdl:message>
  <wsdl:message name="IContract_UpdateFirstDb_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFirstDb" />
  </wsdl:message>
  <wsdl:message name="IContract_UpdateFirstDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFirstDbResponse" />
  </wsdl:message>
  <wsdl:message name="IContract_UpdateSecondDb_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSecondDb" />
  </wsdl:message>
  <wsdl:message name="IContract_UpdateSecondDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSecondDbResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IContract">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateData">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/UpdateData" message="tns:IContract_UpdateData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/UpdateDataResponse" message="tns:IContract_UpdateData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateFirstDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/UpdateFirstDb" message="tns:IContract_UpdateFirstDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/UpdateFirstDbResponse" message="tns:IContract_UpdateFirstDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateSecondDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/UpdateSecondDb" message="tns:IContract_UpdateSecondDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/UpdateSecondDbResponse" message="tns:IContract_UpdateSecondDb_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IContract" type="tns:IContract">
    <wsp:PolicyReference URI="#NetTcpBinding_IContract_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="UpdateData">
      <wsp:PolicyReference URI="#NetTcpBinding_IContract_UpdateData_policy">
      </wsp:PolicyReference>
      <soap12:operation soapAction="http://tempuri.org/IContract/UpdateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFirstDb">
      <wsp:PolicyReference URI="#NetTcpBinding_IContract_UpdateFirstDb_policy">
      </wsp:PolicyReference>
      <soap12:operation soapAction="http://tempuri.org/IContract/UpdateFirstDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSecondDb">
      <wsp:PolicyReference URI="#NetTcpBinding_IContract_UpdateSecondDb_policy">
      </wsp:PolicyReference>
      <soap12:operation soapAction="http://tempuri.org/IContract/UpdateSecondDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Contract">
    <wsdl:port name="NetTcpBinding_IContract" binding="tns:NetTcpBinding_IContract">
      <soap12:address location="net.tcp://localhost:4040/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4040/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>student@step.lan</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>